@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    height: 10%;
}

#header h1 {
    font-family: 'Slabo 27px';
}

#nav {
    margin: 15px 0;
    height: 2.5%;
}

#nav a {
    margin: 20px;
}

#content {
    text-align: center;
    height: 60%;
}

#footer {
    text-align: center;
    height: 10%;
}
